# Serverless directories
services/codepipeline-deployment-notifications/.serverless

# Editor
.idea/

# Local env vars
.production-env
.env

# golang output binary directories
services/*/bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mac
.DS_Store

.serverless
